.nav {
    text-align: center;
    height: 150px;
    background-color: #d9f4f0;
}

.nav>h2 {
    padding: 65px;
    font-family: 'Dancing Script', cursive;
}

.main {
    display: flex;
    justify-content: center;
    padding: 10px;
    flex-flow: wrap;
    margin: 0 auto;
    background-color: #fff;
}

.product {
    text-align: center;
    padding: 10px;
    border: 2px solid black;
    margin: 20px;
}

.product>h4 {
    font-family: 'Dancing Script', cursive;
}

.product>img {
    height: 200px;
    width: 200px;
    align-items: center;
}

